.items {
    list-style: none;
    display: grid;
    outline: 1px dashed #4c4cff;
    box-sizing: border-box;
    inline-size: 100%;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 208px;
    column-gap: 24px;
    row-gap: 32px;
    margin: 0;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    outline: 1px dashed #4c4cff;
    position: relative;
}
