.overlay {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  inline-size: 100%;
  block-size: 100%;
  z-index: 2;
  opacity: 1;
}

.overlay::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  inline-size: 100%;
  block-size: 100%;
  z-index: 1;
  background-color: black;
  opacity: 0.6;
}

.popup {
  visibility: visible;
  transition: all 0.15s linear;
  box-sizing: border-box;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  inline-size: 100%;
  block-size: 100%;
}
