.orders_container {
  max-block-size: 916px;
  block-size: 100%;
  display: flex;
  margin-top: 36px;
  inline-size: 100%;
}

.orders_list {
  max-inline-size: 872px;
}

.orders_list::-webkit-scrollbar-track {
  margin-bottom: 40px;
}
