.nav {
    /* margin-inline-end: auto; */
    margin-right: 112px;
}

.items {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.item {
    border-radius: 40px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
