.place-order {
    display: flex;
}

.total {
}

.price-area {
    display: flex;
    margin-inline-start: auto;
    padding: 14px 0;
}

.icon {
    display: flex;
    align-items: center;
    transform: scale(1.5);
    transform-origin: center;
}

.icon-area {
    display: flex;
    align-items: center;
    height: 36px;
    width: 36px;
}
