.section {
    outline: 2px solid #4c4cff;
    inline-size: 600px;
    max-block-size: 912px;
    padding-bottom: 52px;
    box-sizing: border-box;
}

.drag-icon {
    position: absolute;
    outline: 1px dashed #4c4cff;
    top: 28px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.items {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.item {
    border: 1px dashed #4c4cff;
    /* outline: 1px dashed #4c4cff; */
    box-sizing: border-box;
}

.changing-ingredients {
    max-block-size: 464px;
    overflow-y: auto;
    scrollbar-width: auto;
    scrollbar-color: #8585ad #2f2f37;
}

.changing-ingredients__item {
    position: relative;
    margin-bottom: 16px;
    /* margin-right: 8px; */
}

.changing-ingredients__item:last-child {
    margin-bottom: 0;
}

.changing-ingredients::-webkit-scrollbar-thumb {
    background-color: #8585ad;
}
.changing-ingredients::-webkit-scrollbar-track {
    background-color: #2f2f37;
    outline: 1px dashed #4c4cff;
}

.changing-ingredients::-webkit-scrollbar {
    width: 8px;
}
