.icon_complete {
  inline-size: 120px;
  block-size: 120px;
  background-image: url(../../images/popup/icon_complete.svg);
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 107px 102px;
}

.image {
  object-fit: contain;
  inline-size: 480px;
  block-size: 240px;
}

.title {
  inline-size: 100%;
}

.title_noModal {
  text-align: center;
  margin-top: 120px;
}

.specifications {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.parameter {
  text-align: center;
  margin-right: 20px;
}

.parameter:last-child {
  margin-right: 0;
}
