.section {
    inline-size: 600px;
    /* inline-size: 608px; */
    max-block-size: 912px;
    block-size: 100%;
    box-sizing: border-box;
}

.ingredients {
    /* max-block-size: 100%; */
    max-block-size: 716px;
    overflow-y: auto;
    scrollbar-width: auto;
    scrollbar-color: #8585ad #2f2f37;
}

.ingredients::-webkit-scrollbar-thumb {
    background-color: #8585ad;
}
.ingredients::-webkit-scrollbar-track {
    background-color: #2f2f37;
    margin-bottom: 52px;
}

.ingredients::-webkit-scrollbar {
    width: 8px;
}
