.header {
  width: 100%;
  max-width: 1920px;
  height: 88px;
  background: #1c1c21;
  box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04),
    0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  box-sizing: border-box;
  display: flex;
  padding-left: 320px;
  padding-right: 320px;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 289px;
  width: 289px;
  height: 40px;
  box-sizing: border-box;
}

.nav {
  margin-right: 112px;
}

.items {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.item {
  border-radius: 40px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8585ad;
}

.item:hover {
  color: #f2f2f3;
}

.primary_item {
  color: #f2f2f3;
}
